/*BASE - Fondations du site */

/* Police générique du site ohmyfood */
@font-face {
	font-family: 'Roboto';
	src: url(public/font/police-roboto/Roboto-Regular-webfont.woff), url(public/font/police-roboto/Roboto-Regular-webfont.ttf), url(public/font/police-roboto/Roboto-Regular-webfont.eot), url(publicfont/police-roboto/Roboto-Regular-webfont.svg);
}

/* Police des titres "Nom de restaurant" et du Footer du site ohmyfood */
@font-face {
	font-family: 'Shrikhand';
	src: url(public/font/police-shrikhand/Shrikhand-Regular.otf);
}

/* Éléments génériques du site */
body {
	box-sizing: border-box;
	margin: 0;
}

header, h3 {
	font-family: Shrikhand, sans-serif;
}

.container, input {
	font-family: Roboto, sans-serif;
}

a, ul {
	text-decoration-line: none;
}

/* UTILS - 1 Les variables*/

/* Couleurs */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$bg-colour-primary: #FFFFFF;
$bg-colour-secondary: #F6F6F6;
$bg-colour-tertiary: #EAEAEA;
$bg-colour-quaternary: #353535;
$font-colour-secondary: #FFFFFF;

/* Mensurations */
$container-margin: 1.25em;
$block-size: (header-btn-size: 4.8em, input-height: 3em);
$font-size: (header-btn-icon: 1.75em, header-heading: 1.8em, form-input: 1em, navigation-btn: 1em, footer-heading: 1.15em);
$header__heading-margin: 0.6em, 0.4em;
$navigation-btn-padding: 1em;

/* UTILS - 2 Les fonctions */
@function hover-shift ($colour) {
	@if (lightness ($colour) >= 50%) {
		@return saturate($colour, 34%);
		@return lighten($colour, 36%);
	}
}

/* UTILS - 3 Les mixins */
@mixin weblink-rules ($colour) {
	text-decoration-line: none;
	color: $colour;
}

@mixin header-layout {
	box-shadow: 1.5px 1.5px 5px #a8a8a8;
	z-index: 9999;
}

@mixin header-heading-layout {
	font-size: map-get($font-size, header-heading);
	flex: 1;
	margin-top: nth($header__heading-margin, 1);
	margin-bottom: nth($header__heading-margin, 2);
	padding-left: 1.65em;
}

@mixin explorer-form {
	background-color: $bg-colour-tertiary;
	text-align: center;
}

@mixin explorer-form-input {
	height: map-get($block-size, input-height);
	font-size: map-get($font-size, form-input);
	font-weight: bold;
	text-align: center;
	background-color: $bg-colour-tertiary;
	border: none;
	outline: none;
}

@mixin light-input-placeholder {
	font-weight: lighter;
	color: #a8a8a8;
}

@mixin navigation-btn {
	background-color: $colour-primary;
	font-size: map-get($font-size, navigation-btn);
	color: $font-colour-secondary;
	padding: $navigation-btn-padding;
	border: none;
	border-radius: 25px;
	margin-bottom: 3.25em;
}

@mixin footer-icon {
	vertical-align: middle;
	text-align: left;
	font-size: 0.75em;
}

/* LAYOUTS */
.container {
	margin: 0 $container-margin;
}

header {
	@include header-layout;
	#sticky-header {
		display: flex;
		flex-direction: row;
		#header__heading {
			@include header-heading-layout;
		}
	}
}

#block-research {
	display: flex;
	flex-direction: column-reverse;
}

#block-explorer {
	background-color: $bg-colour-secondary;
	text-align: center;
	h1 {
		margin: 1.5em 0 0.25em 0;
	}
	p {
		margin: 0 0 2em 0;
	}
}

#form-block-expl {
	@include explorer-form;
	input {
		@include explorer-form-input;
		&::placeholder {
			@include light-input-placeholder;
		}
	}
}

#running-section {
	background-color: $bg-colour-primary;
	h1 {
		margin: 1.75em 0 0 0;
		padding-bottom: 1em;
	}
}

footer {
	background-color: $bg-colour-quaternary;
	color: $font-colour-secondary;
	p {
		font-family: Shrikhand, serif, Arial;
		font-size: map-get($font-size, footer-heading);
		margin: 0;
		padding: 1.25em 0 0.9em 0;
	}
	ul {
		margin: 0;
		padding: 0 0 1.85em 0;
	}
	ul > li {
		list-style-type: none;
		a {
			@include weblink-rules(#FFFFFF);
		}
	}
	ul td {
		min-width: 20px;
	}
	ul .footer-icon {
		@include footer-icon;
		}
}


/* COMPONENTS */

#header__btn {
	width: map-get($block-size, header-btn-size);
	height: map-get($block-size, header-btn-size);
	background-color: $bg-colour-primary;
	border: black;
	padding: 0;
	i {
		font-size: map-get($font-size, header-btn-icon);
		font-weight: bold;
	}
}

.navigation-btn {
	@include navigation-btn;
}

.flex-running-box {
	display: flex;
	flex-direction: row;
	background-color: $bg-colour-secondary;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	padding: 1.5em 0 1.5em 0;
	border-radius: 20px;
	box-shadow: 0.5px 0.5px 10px #c9c9c9;
	position: relative;
	.running-number {
		display: table;
		width: 1.45em;
		position: absolute;
		left : -10px;
		& span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: $font-colour-secondary;
			background-color: $colour-primary;
			margin: 1em 0 1em 0;
			border: none;
			border-radius: 100px;
		}
	}
	.icon-action {
		display: table;
		vertical-align: middle;
		text-align: center;
		width: 28%;
		font-size: 1.25em;
		color: #7d7d7d;
	}
	.action-type {
		display: table;
		vertical-align: middle;
		flex: 1;
		& span {
			display: table-cell;
			vertical-align: middle;
			font-weight: bold;
		}
	}
	&:hover {
		background-color: #F5EDFF;
		& .icon-action {
			color: $colour-primary;
		}
	}
}

/* PAGES */