/* CONTAINER */
.container {
	margin: 0 auto;
	max-width: 335px;
	@include tablet-only {
		max-width: 708px;
	}
	@include desktop-only {
		max-width: 1080px;
	}
}

.container-2 {
	margin: 0 auto;
	max-width: 346.2px;
	@include tablet-only {
		max-width: 490px;
	}
	@include desktop-only {
		max-width: 1100px;
	}
}