/* FOOTER */

footer {
	background-color: $bg-colour-quaternary;
	color: $font-colour-secondary;
	p {
		font-family: Shrikhand, sans-serif;
		font-size: map-get($font-size, footer-heading);
		padding: 1.25em 0 0.65em 0;
	}
	ul {
		margin: 0;
		padding: 0 0 2em 0;
	}
	ul > li {
		list-style-type: none;
		a {
			@include weblink-rules(#FFFFFF);
		}
	}
	ul td {
		min-width: 20px;
		height: 1.25em;
	}
	ul .footer-icon {
		vertical-align: middle;
		text-align: left;
		font-size: 0.75em;
	}
}