/* FOOTER */

footer {
	background-color: $bg-colour-quaternary;
	color: $font-colour-secondary;
	p {
		font-family: Shrikhand, sans-serif;
		font-size: map-get($font-size, footer-heading);
		padding: 1.25em 0 0.85em 0;
	}
	.footer-list {
		padding: 0 0 1.75em 0;
	}
	a {
		display: flex;
		flex-direction: row;
	}
	span {
		display: inline-block;
		padding-bottom: 0.3em;
		@include weblink-rules (#FFFFFF);
	}
	.footer-icon {
		display: inline-block;
		width: 13px;
		padding-right: 1em;
		.fas {
			width: 100%;
		}
	}
}