/* FOOTER */

footer {
	background-color: $bg-colour-quaternary;
	color: $font-colour-secondary;
	p {
		font-family: Shrikhand, sans-serif;
		font-size: map-get($font-size, footer-heading);
		padding: 1.25em 0 0.65em 0;
	}
	a {
		display: flex;
		flex-direction: row;
	}
	span {
		display: inline-block;
		@include weblink-rules (#FFFFFF);
		.footer-icon {
			width: 20px;
			.fas {
				width: 16px;
			}
		}
	}
}