/* FORM */
#form-block-expl {
	background-color: $bg-colour-tertiary;
	text-align: center;
	input {
		height: map-get($block-size, input-height);
		font-size: map-get($font-size, form-input);
		font-weight: bold;
		text-align: center;
		background-color: $bg-colour-tertiary;
		border: none;
		outline: none;
		&::placeholder {
			font-weight: lighter;
			color: #a8a8a8;
		}
	}
}