/* HEADER */
header {
	background-color: $bg-colour-primary;
	box-shadow: 1.5px 1.5px 3px #d1d1d1;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 10;
	#header-logo {
		display: block;
		text-align: center;
		height: 30px;
		padding: 1.025em 0;
		img {
			max-height: 100%;
		}
	}
}