/* SECTIONS */
#block-research {
	display: flex;
	flex-direction: column-reverse;
}

#block-explorer {
	background-color: $bg-colour-secondary;
	text-align: center;
	h1 {
		margin: 1.6em 0 0.5em 0;
	}
	p {
		margin: 0 0 1.6em 0;
		font-size: 1.15em;
		font-weight: lighter;
	}
}

#running-section {
	background-color: $bg-colour-primary;
	margin-bottom: 4.25em;
	h1 {
		margin: 2em 0 0 0;
		padding-bottom: 1.25em;
	}
}

#restaurants-section {
	background-color: $bg-colour-secondary;
	padding: 3.5em 0 2.85em 0;
	h1 {
		margin: 0;
		padding: 0 0 0.85em 0;
	}
}

.rest-menu {
	background-color: $bg-colour-secondary;
	border-radius: 50px 50px 0 0;
	.rest-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 2.2em;
		h3 {
			flex: 1;
			margin: 0;
			font-size: map-get($font-size, rest-title);
		}
		.heart-bookmark {
			width: 13%;
			font-size: 1.5em;
			text-align: center;
		}
	}
	.meal-type {
		margin-top: 2.25em;
		.meal-type-title {
			h4 {
				margin: 0;
				padding-bottom: 0.4em;
				font-weight: normal;
			}
			.green-line{
				width: 2.75em;
				border-bottom: 3px $colour-tertiary solid;
			}
		}
		.block-meal {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 4.7em;
			background-color: $bg-colour-primary;
			border-radius: 25px;
			overflow: hidden; 
			@include basic-box-shadow;
			.meal-desc {
				flex: 1;
			}
			.meal-price {
				width: 16%;
				font-weight: bold;
				text-align: right;
			}
			.meal-green-check {
				width: 5em;
				background-color: $colour-tertiary;
				text-align: center;
			}
		}
	}
}