@charset "UTF-8";
/* UTILS - Variables*/
/* Couleurs */
/* Mensurations */
/* UTILS - Mixins */
/* Éléments génériques du site */
body {
  box-sizing: border-box;
  margin: 0;
}

header, h3 {
  font-family: Shrikhand, sans-serif;
}

h2 {
  font-size: 1.15em;
  padding-bottom: 0.25em;
  margin: 0;
}

p {
  margin: 0;
}

.container, .container-2, #third-line {
  font-family: Roboto, sans-serif;
}

a, ul {
  text-decoration-line: none;
}

/* Police générique du site ohmyfood */
@font-face {
  font-family: "Roboto";
  src: url(../font/police-roboto/Roboto-Regular-webfont.woff), url(../font/police-roboto/Roboto-Regular-webfont.ttf), url(../font/police-roboto/Roboto-Regular-webfont.eot), url(../font/police-roboto/Roboto-Regular-webfont.svg);
}
/* Police des titres "Nom de restaurant" et du Footer du site ohmyfood */
@font-face {
  font-family: "Shrikhand";
  src: url(../font/police-shrikhand/Shrikhand-Regular.otf);
}
#block-loading-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  opacity: 1;
  animation: spinner-disappearing 3000ms forwards;
}
#block-loading-spinner #spinner-logo {
  margin: 0.25em 0;
}
#block-loading-spinner #spinner-logo img {
  height: 20px;
}
#block-loading-spinner #spinner-icon {
  font-size: 1.5em;
  margin: 0.5em 0;
  transform: rotate(0turn);
  animation: loading-spinner 3000ms ease-in-out;
}

@keyframes spinner-disappearing {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  75% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(2turn);
  }
}
#block-loc {
  background-color: #EAEAEA;
  text-align: center;
  height: 3em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 61.594px;
}
#block-loc .block-loc-icon {
  width: 2em;
}

.rest-page-bg img {
  max-width: 100%;
  object-fit: cover;
}

.block-meal {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.25em;
  margin: 0.9em 0 0.75em 0;
  background-color: #FFFFFF;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 10px #c9c9c9;
}
.block-meal:hover {
  cursor: pointer;
}
.block-meal:hover > .meal-price, .block-meal:hover > .meal-green-check {
  transform: translateX(0px);
}
.block-meal:hover > .meal-green-check .fas {
  animation: meal-check-move 400ms 100ms ease-out forwards;
}
.block-meal .meal-desc {
  flex: 1;
  margin-left: 0.65em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block-meal .meal-desc .main-meal-name {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.25em;
}
.block-meal .meal-desc .sec-meal-name {
  font-size: 0.95em;
}
.block-meal .meal-price {
  font-weight: bold;
  text-align: center;
  padding-top: 1.7em;
  padding-right: 1em;
  transform: translateX(65px);
  transition: transform 500ms ease-out;
}
.block-meal .meal-green-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25em;
  padding: 0 1em;
  color: #FFFFFF;
  background-color: #99E2D0;
  transform: translateX(65px);
  transition: transform 500ms ease-out;
}

@keyframes meal-check-move {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.flex-running-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  font-family: Roboto, sans-serif;
  max-width: 20em;
  height: 4.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 20px;
  position: relative;
  box-shadow: 0.5px 0.5px 10px #c9c9c9;
}
.flex-running-box .running-number {
  display: flex;
  align-items: center;
  text-align: center;
  width: 23px;
  position: absolute;
  top: 23px;
  left: -10px;
}
.flex-running-box .running-number span {
  width: 100%;
  height: 100%;
  font-size: 0.95em;
  padding: 0.097em 0;
  color: #FFFFFF;
  background-color: #9356DC;
  border: none;
  border-radius: 100px;
}
.flex-running-box .icon-action {
  text-align: center;
  width: 28%;
  font-size: 1.25em;
  color: #7d7d7d;
}
.flex-running-box .action-type {
  flex: 1;
}
.flex-running-box .action-type span {
  font-weight: bold;
}
.flex-running-box:hover {
  background-color: #F5EDFF;
}
.flex-running-box:hover .icon-action {
  color: #9356DC;
}

/* COMPONENTS */
#header-btn {
  display: flex;
  align-items: center;
  float: left;
  position: absolute;
  height: 100%;
  text-align: center;
  text-decoration-line: none;
  color: #000000;
}
#header-btn .fas {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.85em 1.125em;
}
#header-btn .fas--disabled {
  display: none;
}

.navigation__btn {
  display: block;
  font-size: 1em;
  color: #FFFFFF;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  max-width: 13em;
  text-align: center;
  padding: 1em 0 1em 0;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 5px #7a7a7a;
  margin-left: auto;
  margin-right: auto;
  transition: all 750ms;
}
.navigation__btn:hover {
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 1px 1px 5px #3a3a3a;
}
.navigation__btn--index {
  margin-bottom: 3.5em;
}
.navigation__btn--menu-page {
  margin-top: 2.85em;
  margin-bottom: 2.5em;
}

.thumbnail-new {
  display: block;
  width: 4.25em;
  color: #0d8f70;
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
  background-color: #99E2D0;
  border-radius: 2.5px;
  padding: 0.5em 0.75em 0.5em 0.75em;
  position: absolute;
  right: 0.75em;
  top: 1em;
  text-decoration-line: none;
  color: #0d8f70;
}
.thumbnail-new--disabled {
  display: none;
}

.heart-bookmark {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  padding: 0 1em;
  position: relative;
}
.heart-bookmark:hover > .fa-heart--black {
  animation: black-heart-disappearing 350ms linear forwards;
}
.heart-bookmark:hover > .fa-heart--gradient {
  animation: gradient-heart-filling 350ms ease forwards;
}
.heart-bookmark .fa-heart--gradient {
  position: absolute;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
  z-index: -1;
}

@keyframes black-heart-disappearing {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes gradient-heart-filling {
  0% {
    transform: scale(0.1);
    opacity: 0;
    z-index: 1;
  }
  60% {
    opacity: 0.5;
  }
  85% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
    z-index: 1;
  }
}
/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 335px;
}

.container-2 {
  margin: 0 auto;
  max-width: 346.2px;
}

/* HEADER */
header {
  background-color: #FFFFFF;
  box-shadow: 1.5px 1.5px 3px #d1d1d1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}
header #header-logo {
  display: block;
  text-align: center;
  height: 30px;
  padding: 1.025em 0;
}
header #header-logo img {
  max-height: 100%;
}

/* SECTIONS */
#block-research {
  display: flex;
  flex-direction: column-reverse;
}

#block-explorer {
  background-color: #F6F6F6;
  text-align: center;
}
#block-explorer h1 {
  margin: 1.6em 0 0.5em 0;
}
#block-explorer p {
  margin: 0 0 1.6em 0;
  font-size: 1.15em;
  font-weight: lighter;
}

#running-section {
  background-color: #FFFFFF;
  margin-bottom: 4.25em;
}
#running-section h1 {
  margin: 2em 0 0 0;
  padding-bottom: 1.25em;
}

#restaurants-section {
  background-color: #F6F6F6;
  padding: 3.5em 0 2.85em 0;
}
#restaurants-section h1 {
  margin: 0;
  padding: 0 0 0.85em 0;
}

.rest-bg-menu {
  display: flex;
  flex-direction: column;
}

.rest-menu {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding-bottom: 1.25em;
  position: relative;
  margin-top: -52px;
}
.rest-menu .rest-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.2em 1.5em 0 0.25em;
}
.rest-menu .rest-title h3 {
  flex: 1;
  margin: 0;
  font-size: 1.75em;
}
.rest-menu .rest-title .heart-bookmark {
  font-size: 1.5em;
  text-align: center;
}
.rest-menu .rest-title .heart-bookmark--rest-page {
  padding: 0;
}

.meal-type {
  margin: 2.25em 0 1.25em 0;
}
.meal-type .meal-type-title h4 {
  margin: 0;
  padding-bottom: 0.4em;
  font-weight: normal;
}
.meal-type .meal-type-title .green-line {
  width: 2.75em;
  border-bottom: 3px #99E2D0 solid;
}
.meal-type .block-meal {
  animation: block-meal-emerge 900ms both;
}
.meal-type .block-meal--1 {
  animation-delay: 150ms;
}
.meal-type .block-meal--2 {
  animation-delay: 300ms;
}
.meal-type .block-meal--3 {
  animation-delay: 450ms;
}
.meal-type .block-meal--4 {
  animation-delay: 600ms;
}

@keyframes block-meal-emerge {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
/* RESTAURANT TILES */
.block-rest {
  height: 15.7em;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 1.15em;
  overflow: hidden;
  position: relative;
  box-shadow: 0.5px 0.5px 10px #c9c9c9;
}
.block-rest img {
  min-width: 100%;
  max-width: 100%;
  height: 70%;
  object-fit: cover;
}
.block-rest .block-rest-desc {
  display: flex;
  height: 4.5em;
  align-items: center;
}
.block-rest .block-rest-desc .block-rest-info {
  flex: 1;
  color: black;
  padding-left: 0.75em;
  text-decoration-line: none;
  color: black;
}

/* FOOTER */
footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer p {
  font-family: Shrikhand, sans-serif;
  font-size: 1.15em;
  padding: 1.25em 0 0.65em 0;
}
footer ul {
  margin: 0;
  padding: 0 0 2em 0;
}
footer ul > li {
  list-style-type: none;
}
footer ul > li a {
  text-decoration-line: none;
  color: #FFFFFF;
}
footer ul td {
  min-width: 20px;
  height: 1.25em;
}
footer ul .footer-icon {
  vertical-align: middle;
  text-align: left;
  font-size: 0.75em;
}

/*# sourceMappingURL=main.css.map */
