@charset "UTF-8";
/*BASE - Fondations du site */
/* Police générique du site ohmyfood */
@font-face {
  font-family: "Roboto";
  src: url(public/font/police-roboto/Roboto-Regular-webfont.woff), url(public/font/police-roboto/Roboto-Regular-webfont.ttf), url(public/font/police-roboto/Roboto-Regular-webfont.eot), url(publicfont/police-roboto/Roboto-Regular-webfont.svg);
}
/* Police des titres "Nom de restaurant" et du Footer du site ohmyfood */
@font-face {
  font-family: "Shrikhand";
  src: url(public/font/police-shrikhand/Shrikhand-Regular.otf);
}
/* Éléments génériques du site */
body {
  box-sizing: border-box;
  margin: 0;
}

header, h3 {
  font-family: Shrikhand, sans-serif;
}

.container, input {
  font-family: Roboto, sans-serif;
}

a, ul {
  text-decoration-line: none;
}

/* UTILS - 1 Les variables*/
/* Couleurs */
/* Mensurations */
/* UTILS - 2 Les fonctions */
/* UTILS - 3 Les mixins */
/* LAYOUTS */
.container {
  margin: 0 1.25em;
}

header {
  box-shadow: 1.5px 1.5px 5px #a8a8a8;
  z-index: 9999;
}
header #sticky-header {
  display: flex;
  flex-direction: row;
}
header #sticky-header #header-logo {
  flex: 1;
  padding: 1.4em 0 0 3.75em;
}
header #sticky-header #header-logo img {
  max-width: 55%;
}

#block-research {
  display: flex;
  flex-direction: column-reverse;
}

#block-explorer {
  background-color: #F6F6F6;
  text-align: center;
}
#block-explorer h1 {
  margin: 1.6em 0 0.5em 0;
}
#block-explorer p {
  margin: 0 0 1.6em 0;
  font-size: 1.15em;
  font-weight: lighter;
}

#form-block-expl {
  background-color: #EAEAEA;
  text-align: center;
}
#form-block-expl input {
  height: 3em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #EAEAEA;
  border: none;
  outline: none;
}
#form-block-expl input::placeholder {
  font-weight: lighter;
  color: #a8a8a8;
}

#running-section {
  background-color: #FFFFFF;
}
#running-section h1 {
  margin: 2em 0 0 0;
  padding-bottom: 1.25em;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer p {
  font-family: Shrikhand, serif, Arial;
  font-size: 1.15em;
  margin: 0;
  padding: 1.25em 0 0.9em 0;
}
footer ul {
  margin: 0;
  padding: 0 0 1.85em 0;
}
footer ul > li {
  list-style-type: none;
}
footer ul > li a {
  text-decoration-line: none;
  color: #FFFFFF;
}
footer ul td {
  min-width: 20px;
}
footer ul .footer-icon {
  vertical-align: middle;
  text-align: left;
  font-size: 0.75em;
}

/* COMPONENTS */
#header__btn {
  display: block;
  width: 4.8em;
  height: 4.8em;
  background-color: #FFFFFF;
  border: black;
  padding: 0;
  text-decoration-line: none;
  color: #000000;
}
#header__btn i {
  font-size: 1.75em;
  font-weight: bold;
}

.navigation-btn {
  display: block;
  background-color: #9356DC;
  font-size: 1em;
  color: #FFFFFF;
  width: 13em;
  text-align: center;
  padding: 1em 0 1em 0;
  border: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5em;
}

.flex-running-box {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  font-family: Roboto, sans-serif;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  padding: 1.5em 0 1.5em 0;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 10px #c9c9c9;
  position: relative;
}
.flex-running-box .running-number {
  display: table;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: -10px;
}
.flex-running-box .running-number span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0.95em;
  color: #FFFFFF;
  background-color: #9356DC;
  margin: 1em 0 1em 0;
  border: none;
  border-radius: 100px;
}
.flex-running-box .icon-action {
  display: table;
  text-align: center;
  width: 28%;
  font-size: 1.25em;
  color: #7d7d7d;
}
.flex-running-box .icon-action .fas {
  display: table-cell;
  vertical-align: middle;
}
.flex-running-box .action-type {
  display: table;
  vertical-align: middle;
  flex: 1;
}
.flex-running-box .action-type span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}
.flex-running-box:hover {
  background-color: #F5EDFF;
}
.flex-running-box:hover .icon-action {
  color: #9356DC;
}

/* PAGES */

/*# sourceMappingURL=main.css.map */
