@charset "UTF-8";
/*BASE - Fondations du site */
/* Police générique du site ohmyfood */
@font-face {
  font-family: "Roboto";
  src: url(police-roboto/Roboto-Regular-webfont.ttf), url(police-roboto/Roboto-Regular-webfont.eot), url(police-roboto/Roboto-Regular-webfont.svg), url(police-roboto/Roboto-Regular-webfont.woff);
}
/* Police des titres "Nom de restaurant" et du Footer du site ohmyfood */
@font-face {
  font-family: "Shrikhand";
  src: url(police-shrikhand/Shrikhand-Regular.otf);
}
/* Éléments génériques du site */
body {
  box-sizing: border-box;
  margin: 0;
}

header, h3 {
  font-family: Shrikhand, serif, Arial;
}

.container, input {
  font-family: Roboto, serif, Arial;
}

a, ul {
  text-decoration-line: none;
}

/* UTILS - 1 Les variables*/
/* Couleurs */
/* Mensurations */
/* UTILS - 2 Les fonctions */
/* UTILS - 3 Les mixins */
/* LAYOUTS */
.container {
  margin: 0 1.25em;
}

header {
  box-shadow: 1.5px 1.5px 5px #cac9c9;
  z-index: 9999;
}
header #sticky-header {
  display: flex;
  flex-direction: row;
}
header #sticky-header #header__heading {
  font-size: 1.8em;
  flex: 1;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  padding-left: 1.65em;
}

#block-research {
  display: flex;
  flex-direction: column-reverse;
}

#block-explorer {
  background-color: #F6F6F6;
  text-align: center;
}
#block-explorer h1 {
  margin: 1.5em 0 0.25em 0;
}
#block-explorer p {
  margin: 0 0 2em 0;
}

#form-block-expl {
  background-color: #EAEAEA;
  text-align: center;
}
#form-block-expl input {
  height: 3em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #EAEAEA;
  border: none;
  outline: none;
}
#form-block-expl input::placeholder {
  font-weight: lighter;
  color: #a8a8a8;
}

#running-section {
  background-color: #FFFFFF;
}
#running-section h1 {
  margin: 1.75em 0 2em 0;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer p {
  font-family: Shrikhand, serif, Arial;
  font-size: 1.15em;
  margin: 0;
  padding: 1.25em 0 0.9em 0;
}
footer ul {
  margin: 0;
  padding: 0 0 1.85em 0;
}
footer ul > li {
  list-style-type: none;
  padding-bottom: 0.15em;
}
footer ul > li a {
  text-decoration-line: none;
  color: #FFFFFF;
}
footer ul td {
  min-width: 20px;
}
footer ul .footer-icon {
  vertical-align: middle;
  text-align: left;
  font-size: 0.75em;
}

/* COMPONENTS */
#header__btn {
  width: 4.8em;
  height: 4.8em;
  background-color: #FFFFFF;
  border: black;
  padding: 0;
}
#header__btn i {
  font-size: 1.75em;
  font-weight: bold;
}

.navigation-btn {
  background-color: #9356DC;
  font-size: 1em;
  color: #FFFFFF;
  padding: 1em;
  border: none;
  border-radius: 25px;
  margin-bottom: 3.25em;
}

.flex-running-box {
  display: flex;
  flex-direction: row;
}
.flex-running-box .running-number {
  color: #FFFFFF;
  background-color: #9356DC;
  height: 1em;
  border: none;
  border-radius: 100px;
  display: table;
}
.flex-running-box .running-number span {
  display: table-cell;
  vertical-align: middle;
}
.flex-running-box .block-action {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 1.5em 0 1.5em 1.65em;
  flex: 1;
}
.flex-running-box .block-action .icon-action {
  display: table;
  vertical-align: middle;
  font-size: 1.25em;
  color: #7d7d7d;
}
.flex-running-box .block-action .action-type {
  display: table;
  vertical-align: middle;
  flex: 1;
  padding-left: 1.65em;
}
.flex-running-box .block-action .action-type span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

/* PAGES */

/*# sourceMappingURL=style.css.map */
