.flex-running-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $bg-colour-secondary;
	font-family: Roboto, sans-serif;
	max-width: 20em;
	height: 4.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	border-radius: 20px;
	position: relative;
	@include basic-box-shadow;
	.running-number {
		display: table;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		left : -10px;
		& span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 0.95em;
			color: $font-colour-secondary;
			background-color: $colour-primary;
			margin: 1em 0 1em 0;
			border: none;
			border-radius: 100px;
		}
	}
	.icon-action {
		text-align: center;
		width: 28%;
		font-size: 1.25em;
		color: #7d7d7d;
	}
	.action-type {
		flex: 1;
		& span {
			font-weight: bold;
		}
	}
	&:hover {
		background-color: #F5EDFF;
		& .icon-action {
			color: $colour-primary;
		}
	}
}