/* BLOCKS */
#block-loc {
	background-color: $bg-colour-tertiary;
	text-align: center;
	height: 3em;
	font-size: map-get($font-size, form-input);
	font-weight: bold;
	font-family: Roboto, sans-serif;
	background-color: $bg-colour-tertiary;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 61.594px;
	.block-loc-icon {
		width: 2em;
	}
}

.flex-running-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $bg-colour-secondary;
	font-family: Roboto, sans-serif;
	max-width: 20em;
	height: 4.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	border-radius: 20px;
	position: relative;
	@include basic-box-shadow;
	.running-number {
		display: table;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		left : -10px;
		& span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 0.95em;
			color: $font-colour-secondary;
			background-color: $colour-primary;
			margin: 1em 0 1em 0;
			border: none;
			border-radius: 100px;
		}
	}
	.icon-action {
		text-align: center;
		width: 28%;
		font-size: 1.25em;
		color: #7d7d7d;
	}
	.action-type {
		flex: 1;
		& span {
			font-weight: bold;
		}
	}
	&:hover {
		background-color: #F5EDFF;
		& .icon-action {
			color: $colour-primary;
		}
	}
}

.rest-page-bg {
	img {
		max-width: 100%;
		object-fit: cover;
	}
}

.block-meal {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 4.25em;
	margin: 0.9em 0 0.75em 0;
	background-color: $bg-colour-primary;
	border-radius: 18px;
	overflow: hidden; 
	@include basic-box-shadow;
	.meal-desc {
		flex: 1;
		padding-left: 0.65em;
		span {
			display: inline-block;
			font-size: 1em;
			font-weight: bold;
			padding-bottom: 0.25em;
		}
	}
	.meal-price {
		min-width: 13%;
		font-weight: bold;
		text-align: center;
		padding-top: 1.7em;
	}
	.meal-green-check {
		min-width: 16%;
		height: 4.7em;
		line-height: 4.7em;
		font-size: 2em;
		color: $bg-colour-primary;
		background-color: $colour-tertiary;
		text-align: center;
	}
}