.block-meal {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 4.25em;
	margin: 0.9em 0 0.75em 0;
	background-color: $bg-colour-primary;
	border-radius: 18px;
	overflow: hidden; 
	@include basic-box-shadow;
	&:hover {
		cursor: pointer;
		> .meal-green-check {
			margin-right: 0px;
		}
		> .meal-green-check .fas {
			animation: meal-check-move 400ms 100ms ease-out forwards;
		}
	}
	.flex-desc-price {
		display: flex;
		align-items: flex-end;
		overflow: hidden;
		flex: 1;
		padding: 0 1.5em 0 0.65em;
		.meal-desc {
			flex: 1;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			.main-meal-name {
				font-size: 1.1em;
				font-weight: bold;
				padding-bottom: 0.25em;
			}
			.sec-meal-name {
				font-size: 0.95em;
			}
		}
		.meal-price {
			font-weight: bold;
			text-align: center;
			padding-left: 1em;
		}
	}
	.meal-green-check {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 1.25em;
		padding: 0 1em;
		color: $bg-colour-primary;
		background-color: $colour-tertiary;
		margin-right: -65px;
		transition: all 500ms ease-out;
	}
}

@keyframes meal-check-move {
	from {
		transform: rotate(-270deg);
	}
	to {
		transform: rotate(0deg);
	}
}