/* COMPONENTS */

#header-btn {
	display: flex;
	align-items: center;
	float: left;
	position: absolute;
	height: 100%;
	text-align: center;
	@include weblink-rules (#000000);
	.fas {
		font-size: map-get($font-size, header-btn-icon);
		font-weight: bold;
		padding: 0.85em 1.125em;
		&--disabled {
			display: none;
		}
	}
	.desktop-header-btn {
		padding-left: 0.75em;
		display: none;
		@include desktop-only {
			display: initial;
		}
	}
}

.navigation__btn {
	display: block;
	font-size: map-get($font-size, navigation-btn);
	color: $font-colour-secondary;
	background: $nav-btn-bg-colour;
	max-width: 13em;
	text-align: center;
	padding: 1em 0 1em 0;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 1px 5px $shadow-nav-btn-colour;
	margin-left: auto;
	margin-right: auto;
	transition: background, box-shadow 750ms;
	&:hover {
        background: $lighter-nav-btn-bg-colour;
		box-shadow: 1px 1px 5px darken($shadow-nav-btn-colour, 25%);
    }
	&--index {
		margin-bottom: 3.5em;
	}
	&--menu-page {
		margin-top: 2.85em;
		margin-bottom: 2.5em;
	}
}

.thumbnail-new {
	display: block;
	width: 4.25em;
	color: #0d8f70;
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
	background-color: #99E2D0;
	border-radius: 2.5px;
	padding: 0.5em 0.75em 0.5em 0.75em;
	position: absolute;
	right: 0.75em;
	top: 1em;
	@include weblink-rules(#0d8f70);
	&--disabled {
		display: none;
	}
}

.heart-bookmark {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.5em;
	padding: 0 1em;
	position: relative;
	&:hover {
		& > .fa-heart--black {
			animation: black-heart-disappearing 350ms linear forwards;
		}
		& > .fa-heart--gradient {
			animation: gradient-heart-filling 350ms ease forwards;
		}
	}
	.fa-heart--gradient {
		position: absolute;
		background: $heart-bookmark-gradient-colour;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: scale(1);
		z-index: -1;
	}
}

@keyframes black-heart-disappearing {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes gradient-heart-filling {
	0%{
		transform: scale(0.1);
		opacity: 0;
		z-index: 1;
	}
	60% {
		opacity: 0.5;
	}
	85% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
		z-index: 1;
	}
}