/* COMPONENTS */

#header-btn {
	display: block;
	width: 20%;
	text-align: center;
	background-color: $bg-colour-primary;
	@include weblink-rules (#000000);
	.fas {
		font-size: map-get($font-size, header-btn-icon);
		font-weight: bold;
		padding-top: 0.2em;
		&--disabled {
			display: none;
		}
	}
}

.navigation__btn {
	display: block;
	font-size: map-get($font-size, navigation-btn);
	color: $font-colour-secondary;
	background: $nav-btn-bg-colour;
	max-width: 13em;
	text-align: center;
	padding: 1em 0 1em 0;
	border: none;
	border-radius: 25px;
	box-shadow: 1px 1px 5px #7a7a7a;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.5em;
}

.thumbnail-new {
	display: block;
	width: 4.25em;
	color: #0d8f70;
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
	background-color: #99E2D0;
	border-radius: 2.5px;
	padding: 0.5em 0.75em 0.5em 0.75em;
	position: absolute;
	right: 0.75em;
	top: 1em;
	@include weblink-rules(#0d8f70);
	&--disabled {
		display: none;
	}
}