/* Police générique du site ohmyfood */
@font-face {
	font-family: 'Roboto';
	src: url(./font/police-roboto/Roboto-Regular-webfont.woff), url(./font/police-roboto/Roboto-Regular-webfont.ttf), url(./font/police-roboto/Roboto-Regular-webfont.eot), url(./font/police-roboto/Roboto-Regular-webfont.svg);
}

/* Police des titres "Nom de restaurant" et du Footer du site ohmyfood */
@font-face {
	font-family: 'Shrikhand';
	src: url(./font/police-shrikhand/Shrikhand-Regular.otf);
}