/* UTILS - Variables*/

/* Couleurs */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$bg-colour-primary: #FFFFFF;
$bg-colour-secondary: #F6F6F6;
$bg-colour-tertiary: #EAEAEA;
$bg-colour-quaternary: #353535;
$nav-btn-bg-colour: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
$lighter-nav-btn-bg-colour: linear-gradient(to bottom right, lighten($colour-secondary, 2%), lighten($colour-primary, 2%));
$heart-bookmark-gradient-colour: linear-gradient($colour-primary, $colour-secondary);
$font-colour-secondary: #FFFFFF;
$shadow-nav-btn-colour: #7a7a7a;

/* Mensurations */
$container-margin: 1.25em;
$container-2-margin: 0.9em;
$font-size: (header-btn-icon: 1.5em, header-heading: 1.8em, navigation-btn: 1em, footer-heading: 1.15em, rest-title: 1.75em);
$header__heading-margin: 0.6em, 0.4em;